<div class="body">
  <div class="wrapper">
    <form [formGroup]="loginForm" class="form-container">
      <h1>Login</h1>
      <div class="input-box">
        <input type="email" name="email" autocomplete="new-email" formControlName="email" placeholder="Enter your email address">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input [type]="passwordInputType" name="password" autocomplete="new-password" formControlName="password" placeholder="Enter you password">
        <img [src]="eyeIconSrc" (click)="toggleShowPassword()" class="cursor-pointer">
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox" formControlName="rememberMe"> Remember me</label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit" class="btn" (click)="onNext()">Login</button>
      <div class="register-link">
        <p>Don't have any account? <span (click)="onSignUp()">Register</span></p>
      </div>
    </form>
  </div>
</div>
