<div class="nav-body">
  <div  class="nav-container">
    <div class="left-content">
      <span class="app-title">Shopify</span>
      <div class="nav-item">
        <span>Shop</span>
        <span>On sale</span>
        <span>New arrivals</span>
      </div>
    </div>
    <div class="right-content">
      <div class="search-box">
        <div class="search-box-row">
          <div class="search-textarea-dimension">
            <textarea class="search-text-area" placeholder="Search for products..."></textarea>
          </div>
          <div class="vertical-border"></div>
          <div class="search-button-dimension">
            <img src="../../../assets/icon/search.svg">
          </div>
        </div>
      </div>
      <div class="right-buttons">
        <div class="menu-bar">
          <img src="assets/icon/profile.svg">
          <span *ngIf="user" class="truncate-text">{{user.firstName}}</span>
        </div>
        <img src="assets/icon/cart.svg">
      </div>
    </div>
  </div>
</div>
