<div class="nav-body">
  <div  class="nav-container">
    <div class="left-content">
      <span class="app-title">Shopify</span>
      <div class="nav-item">
        <span>Shop</span>
        <span>On sale</span>
        <span>New arrivals</span>
      </div>
    </div>
    <div class="right-content">
      <div class="search-box">
        <div class="search-box-row">
          <div class="search-textarea-dimension">
            <textarea (focus)="onTextareaFocus()" (blur)="onTextareaBlur($event)" (input)="onInputChange($event)" class="search-text-area" placeholder="Search for products..."></textarea>
          </div>
          <div class="vertical-border"></div>
          <div class="search-button-dimension">
            <img src="../../../assets/icon/search.svg">
          </div>
        </div>
        <div #searchList class="search-list" >
          <ul *ngFor="let item of list" style="background: green; border-radius: 15px;">
            <li (click)="onProductSelect(item)">{{item}}</li>
          </ul>
        </div>
      </div>
      <div class="right-buttons">
        <div class="menu-bar" [ngStyle]="{'width': userName ? 'auto' : '65px'}">
          <img src="assets/icon/profile.svg">
          <span *ngIf="userName" class="truncate-text">{{userName}}</span>
          <div *ngIf="userName" class="dropdown-menu">
            <ul>
              <li><i class='bx bxs-user'></i>My profile</li>
              <li><i class='bx bx-cart-download'></i>Orders</li>
              <li><i class='bx bx-list-ul' ></i>Wishlist</li>
              <li (click)="logout()"><i class='bx bx-log-out' ></i>Sign Out</li>
            </ul>
          </div>
        </div>
        <img src="assets/icon/cart.svg">
      </div>
    </div>
  </div>
</div>
